 body {
    background: gray;
}
 .content {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    background: white;
}
 .myphoto {
    text-align: center;
}
  .line {
    border-top: 1px solid black; /* Линия сверху текста */
    border-bottom: 1px solid black; /* Линия снизу текста */
}
  .linetop {
    border-top: 1px solid black; /* Линия сверху текста */
}
